body {
  display: flex;
  justify-content: center;
}

div {
  display: block;
  margin: 0 auto;
  padding: 30px 30px;
  background-color: #faebd7;
  border: solid 1px #000;
}

img {
  margin: 0px 25px;
  border-radius: 50%;
}

a {
  display: block;
  margin: 30px;
}
